<li class="otherPet">
    <h3>Name: {{name}}</h3>
    <p>Category: {{category}}</p>
    <p class="img"><img src="{{imageUrl}}"></p>
    <p class="description">{{description}}</p>
    <div class="pet-info">
        <a href="#/edit"><button class="button">Edit</button></a>
        <a href="#/delete"><button class="button">Delete</button></a>
        <i class="fa fa-heart"></i> <span>{{likes}}</span>
    </div>
</li>
